@import url(../../../css/custom.css);
/* Overrides to default YOOtheme Sync custom declarations */
/* Includes features and style additions not previously declared  */
/* By Glenn A. Batuyong, Port of San Diego */

/* Two-column lists
----------------------------------------------------------------------------------------------------*/
ul.twocolumn {
    -moz-column-count: 2;
    -moz-column-gap: 5px;
    -webkit-column-count: 2;
    -webkit-column-gap: 5px;
    column-count: 2;
    column-gap: 20px;
}

/* Responsive video embeds
----------------------------------------------------------------------------------------------------*/
/* The video container */
.rvideo {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
 
.rvideo.widescreen {
  padding-bottom: 57.25%;
}
 
.rvideo.vimeo {
  padding-top: 0;
}

/* The video embed itself */
.rvideo embed, .rvideo iframe, .rvideo object, .rvideo video {
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  position: absolute;
}

/* responsive data tables, thank you NPR visuals team */

table.zebra caption {
	font-size: 14px !important;
	font-weight: bold !important;
	color: #4C515E !important;
	margin-bottom: 5px !important;
}

@media screen and (max-width: 640px) {
    table, tbody {
		display: block !important;
		width: 100%;
	}
	caption {
		display: block !important;
		width: 100% !important;
		font-size: 13px !important;
		font-weight: bold !important;
	}
	thead {
		display: none !important;
	}
	table tr, table th, table td {
		display: block !important;
		padding: 0 !important;
		text-align: left !important;
		white-space: normal !important;
	}
	table tr {
		border-bottom: 1px solid #eee !important;
		padding-bottom: 11px !important;
		margin-bottom: 11px !important;
	}
	table th[data-title]:before, table td[data-title]:before {
		content: attr(data-title)":\00A0" !important;
		font-weight: bold !important;
	}
	table td {
		border: none !important;
		margin-bottom: 6px !important;
		color: #444 !important;
	}
	table td:empty {
		display: none !important;
	}
	table td:first-child {
		font-size: 14px !important;
		font-weight: bold !important;
		margin-bottom: 6px !important;
		color: #333 !important;
	}
	table td:first-child:before {
		content:'' !important;
	}
}
